vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|11 Jun 2017 06:10:20 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|Ideal/Ideal/site/index.html
vti_author:SR|Austin-Notebook\\Austin
vti_modifiedby:SR|Austin-Notebook\\Austin
vti_timecreated:TR|11 Jun 2017 06:10:20 -0000
vti_cacheddtm:TX|11 Jun 2017 06:10:20 -0000
vti_filesize:IR|3085
vti_cachedlinkinfo:VX|S|loading.gif S|prev.png S|next.png S|close.png S|loading@2x.gif S|prev@2x.png S|next@2x.png S|close@2x.png
vti_cachedsvcrellinks:VX|FSUS|Ideal/Ideal/site/css/nivo-lightbox/loading.gif FSUS|Ideal/Ideal/site/css/nivo-lightbox/prev.png FSUS|Ideal/Ideal/site/css/nivo-lightbox/next.png FSUS|Ideal/Ideal/site/css/nivo-lightbox/close.png NSUS|Ideal/Ideal/site/css/nivo-lightbox/loading@2x.gif NSUS|Ideal/Ideal/site/css/nivo-lightbox/prev@2x.png NSUS|Ideal/Ideal/site/css/nivo-lightbox/next@2x.png NSUS|Ideal/Ideal/site/css/nivo-lightbox/close@2x.png
